<p-table [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true" [rows]="filtro.itensPorPagina"
  [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th class="col-estado-header">Estado</th>
      <th class="col-status-header">Status</th>
      <th class="col-opcoes-header">Opções</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoas>
    <tr>
      <td>
        <span class="ui-column-title">Nome</span>
        {{pessoas.nome}}
      </td>
      <td>
        <span class="ui-column-title">Cidade</span>
        {{pessoas.endereco.cidade}}
      </td>
      <td class="col-estado-content">
        <span class="ui-column-title">Estado</span>
        {{pessoas.endereco.estado}}
      </td>
      <td class="col-status-content">
        <span class="ui-column-title">Status</span>
        <a href="javascript: ;" [pTooltip]="pessoas.ativo ? 'Desativar' : 'Ativar'"
          tooltipPosition="top">{{pessoas.ativo ? 'Ativo' : 'Desativado'}}</a>
      </td>
      <td class="col-acoes">
        <span class="ui-column-title">Ações</span>
        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
        <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
      </td>
    </tr>
  </ng-template>
</p-table>