<div class="container">
    <form autocomplete="off" #formLancamento="ngForm" (ngSubmit)="salvar(formLancamento)">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Novo lançamento</h1>
            </div>
            <div class="ui-g-12">
                <p-selectButton [options]="tipos" #tipo></p-selectButton>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>Vencimento</label>
                <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
                    [showIcon]="true" ngModel #vencimento="ngModel" required></p-calendar>

                <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento">
                </app-message>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>{{tipo.value === 'RECEITA' ? "Recebimento" : "Pagamento"}}</label>
                <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true" [showIcon]="true"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">
                <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
                <app-message [control]="descricao" error="minlength"
                    text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
            </div>
            <div class="ui-g-12 ui-md-3 ui-fluid">
                <label>Valor</label>
                <input pInputText type="text" placeholder="0,00" name="valor" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }" ngModel>
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categorias" placeholder="Selecione uma categoria" required></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione uma pessoa" required></p-dropdown>
            </div>
            <div class="ui-g-12 ui-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3" name="observacao" ngModel #observacao="ngModel" required></textarea>
                <app-message [control]="observacao" error="required" text="Informe uma observacão"></app-message>
            </div>
            <div class="ui-g-12 acoes-button">
                <button type="submit" pButton label="Salvar"[disabled]="!formLancamento.valid"></button>
                <button type="button" pButton label="Novo" class="ui-button-secondary"></button>
                <a href="javascript:;">Voltar para pesquisa</a>
            </div>
        </div>
    </form>
</div>