<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12 ui-fluid">
        <label for="descricao">Descrição </label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao">
      </div>
      <div class="ui-g-12">
        <label for="vencimento" style="display: block">Vencimento</label>
        <p-calendar dataFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" name="vencimentoInicio"
          [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>
        <label for="de"> até </label>
        <p-calendar dataFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" name="vencimentoFim"
          [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="emptymessage">
          <h4 style="text-align: center;">Nenhum lançamento encontrado</h4>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descricao</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-opcoes-header">Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>
              <span class="ui-column-title">Pessoa</span>
              {{lancamento.pessoa}}
            </td>
            <td>
              <span class="ui-column-title">Descrição</span>
              {{lancamento.descricao}}
            </td>
            <td class="data-content">
              <span class="ui-column-title">Vencimento</span>
              {{lancamento.dataVencimento | date : 'dd/M/y'}}
            </td>
            <td class="data-content">
              <span class="ui-column-title">Pagamento</span>
              {{lancamento.dataPagamento | date : 'dd/M/y'}}
            </td>
            <td class="valor-content" [style.color]="lancamento.tipo == 'DESPESA' ? 'red': 'blue'">
              <span class="ui-column-title">Valor</span>
              {{lancamento.valor | currency : 'BRL':true}}
            </td>
            <td class="col-acoes">
              <span class="ui-column-title">Ações</span>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>
</div>